<main>
	<div class="container">
		<h1 class="medium-weight text-primary">Lists</h1>
		<hr class="mb-8" />

		<h5 class="courier text-primary mb-1">Ordered</h5>
		<ol class="mb-8">
			It prompts your end-users to perform the following actions to connect their financial accounts:
			<li>Provide consent to share their financial data.
				<ol>
					<li>Select their financial institution.</li>
					<li>Enter their username and password to log in with their financial institution.
						<ol>
							<li>Answer a multi-factor authentication (MFA) question if their financial institution requires them to.</li>
							<li>Select the account they want to share.</li>
							<li>If the login is successful, Flinks provides you with a loginId.</li>
						</ol>
					</li>
				</ol>
			</li>
			<li>Send the loginId to the server that's hosting your website/app.</li>
			<li>Your server passes the loginId to Flinks servers and we exchange it for a requestId.</li>
			<li>The requestId allows you to start securely receiving the customer's data.</li>
		</ol>

		<h5 class="courier text-primary mb-1">Unordered</h5>
		<ul class="mb-8">
			It prompts your end-users to perform the following actions to connect their financial accounts:
			<li>Provide consent to share their financial data.
				<ul>
					<li>Select their financial institution.</li>
					<li>Enter their username and password to log in with their financial institution.
						<ul>
							<li>Answer a multi-factor authentication (MFA) question if their financial institution requires them to.</li>
							<li>Select the account they want to share.</li>
							<li>If the login is successful, Flinks provides you with a loginId.</li>
						</ul>
					</li>
					<li>Send the loginId to the server that's hosting your website/app.</li>
				</ul>
			</li>
			<li>Your server passes the loginId to Flinks servers and we exchange it for a requestId.</li>
			<li>The requestId allows you to start securely receiving the customer's data.</li>
		</ul>


	</div>
</main>