<main>
	<div class="container">
		<h1 class="medium-weight text-primary">Accordion</h1>
		<hr class="mb-8" />

		<h5 class="courier text-primary mb-1">First</h5>
		<div class="max-w-[500px] mb-4">
			<lib-accordion title="Result" placement="first" />
		</div>

		<h5 class="courier text-primary mb-1">Middle</h5>
		<div class="max-w-[500px] mb-4">
			<lib-accordion title="Result" placement="middle" />
		</div>

		<h5 class="courier text-primary mb-1">Last</h5>
		<div class="max-w-[500px]">
			<lib-accordion title="Result" placement="last" />
		</div>
	</div>
</main>



