<main>
  <div class="container">
    <h1 class="medium-weight text-primary">Icons</h1>
    <hr class="mb-8" />
    <div class="flex gap-16">
      <!-- Column 2: General Icons -->
      <div class="flex flex-col gap-2">
        <h5 class="medium-weight text-primary courier">General</h5>
        <div class="flex gap-3 items-center">
          <app-icons name="home"></app-icons>
          <div class="courier">Home</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="slash"></app-icons>
          <div class="courier">Slash</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="menu"></app-icons>
          <div class="courier">Menu</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="changelog"></app-icons>
          <div class="courier">Changelog</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="all"></app-icons>
          <div class="courier">All</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="code"></app-icons>
          <div class="courier">Code</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="book"></app-icons>
          <div class="courier">Book</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="reset"></app-icons>
          <div class="courier">Reset</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="copy"></app-icons>
          <div class="courier">Copy</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="check"></app-icons>
          <div class="courier">Check</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="warning"></app-icons>
          <div class="courier">Warning</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="info"></app-icons>
          <div class="courier">Info</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="rocket"></app-icons>
          <div class="courier">Rocket</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="support"></app-icons>
          <div class="courier">Support</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="search"></app-icons>
          <div class="courier">Search</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="success"></app-icons>
          <div class="courier">Success</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="link"></app-icons>
          <div class="courier">Link</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="chevron-left"></app-icons>
          <div class="courier">Chevron-Left</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="chevron-right"></app-icons>
          <div class="courier">Chevron-Right</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="chevron-up"></app-icons>
          <div class="courier">Chevron-Up</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="chevron-down"></app-icons>
          <div class="courier">Chevron-Down</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="arrow-left"></app-icons>
          <div class="courier">Arrow-Left</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="arrow-right"></app-icons>
          <div class="courier">Arrow-Right</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="close"></app-icons>
          <div class="courier">Close</div>
        </div>
      </div>

      <!-- Column 1: Product Icons -->
      <div class="flex flex-col gap-2">
        <h5 class="medium-weight text-primary courier">Product</h5>
        <div class="flex gap-3 items-center">
          <app-icons name="outbound"></app-icons>
          <div class="courier">Outbound</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="connect"></app-icons>
          <div class="courier">Connect</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="enrich"></app-icons>
          <div class="courier">Enrich</div>
        </div>

        <div class="flex gap-3 items-center">
          <app-icons name="pay"></app-icons>
          <div class="courier">Pay</div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-[100px]"></div>
</main>
