<main>
	<div class="container">
		<h1 class="medium-weight text-primary">Icons</h1>
		<hr class="mb-8" />
		<div class="flex gap-16">
			<!-- !! Column 1: General Icons -->
			<div class="flex flex-col gap-2">
				<h5 class="medium-weight text-primary courier">General</h5>
				<div class="flex gap-3 items-center">
					<lib-icons name="home"></lib-icons>
					<div class="courier">Home</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="slash"></lib-icons>
					<div class="courier">Slash</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="menu"></lib-icons>
					<div class="courier">Menu</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="changelog"></lib-icons>
					<div class="courier">Changelog</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="all"></lib-icons>
					<div class="courier">All</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="code"></lib-icons>
					<div class="courier">Code</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="book"></lib-icons>
					<div class="courier">Book</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="reset"></lib-icons>
					<div class="courier">Reset</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="copy"></lib-icons>
					<div class="courier">Copy</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="check"></lib-icons>
					<div class="courier">Check</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="warning"></lib-icons>
					<div class="courier">Warning</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="info"></lib-icons>
					<div class="courier">Info</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="rocket"></lib-icons>
					<div class="courier">Rocket</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="support"></lib-icons>
					<div class="courier">Support</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="search"></lib-icons>
					<div class="courier">Search</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="success"></lib-icons>
					<div class="courier">Success</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="link"></lib-icons>
					<div class="courier">Link</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="chevron-left"></lib-icons>
					<div class="courier">Chevron-Left</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="chevron-right"></lib-icons>
					<div class="courier">Chevron-Right</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="chevron-up"></lib-icons>
					<div class="courier">Chevron-Up</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="chevron-down"></lib-icons>
					<div class="courier">Chevron-Down</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="arrow-left"></lib-icons>
					<div class="courier">Arrow-Left</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="arrow-right"></lib-icons>
					<div class="courier">Arrow-Right</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="close"></lib-icons>
					<div class="courier">Close</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="api"></lib-icons>
					<div class="courier">API</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="loan"></lib-icons>
					<div class="courier">Loan</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="bank"></lib-icons>
					<div class="courier">Bank</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="doc"></lib-icons>
					<div class="courier">Doc</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="funding"></lib-icons>
					<div class="courier">Funding</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="insights"></lib-icons>
					<div class="courier">Insights</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="job"></lib-icons>
					<div class="courier">Job</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="face-id"></lib-icons>
					<div class="courier">Face-id</div>
				</div>
			</div>

			<!-- !! Column 2: Product Icons -->
			<div class="flex flex-col gap-2">
				<h5 class="medium-weight text-primary courier">Product</h5>
				<div class="flex gap-3 items-center">
					<lib-icons name="outbound"></lib-icons>
					<div class="courier">Outbound</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="connect"></lib-icons>
					<div class="courier">Connect</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="enrich"></lib-icons>
					<div class="courier">Enrich</div>
				</div>

				<div class="flex gap-3 items-center">
					<lib-icons name="pay"></lib-icons>
					<div class="courier">Pay</div>
				</div>
			</div>

			<!-- !! Column 3: Logos -->
			<div class="flex flex-col gap-2 bg-grey-300 px-4 h-fit">
				<h5 class="medium-weight text-primary courier">Logos</h5>
				<div class="flex gap-4 items-end mb-6">
					<lib-icons name="logo-desktop-v1"></lib-icons>
					<div class="courier">v1-desktop</div>
				</div>

				<div class="flex gap-4 items-end mb-6">
					<lib-icons name="logo-mobile-v1"></lib-icons>
					<div class="courier">v1-mobile</div>
				</div>

				<div class="flex gap-4 items-end mb-6">
					<lib-icons name="logo-desktop-v2"></lib-icons>
					<div class="courier">v2-desktop</div>
				</div>

				<div class="flex gap-4 items-end mb-6">
					<lib-icons name="logo-mobile-v2"></lib-icons>
					<div class="courier">v2-mobile</div>
				</div>

				<div class="flex gap-4 items-end mb-6">
					<lib-icons name="logo-desktop-v3"></lib-icons>
					<div class="courier">v3-desktop</div>
				</div>

				<div class="flex gap-4 items-end mb-6">
					<lib-icons name="logo-mobile-v3"></lib-icons>
					<div class="courier">v3-mobile</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mb-[100px]"></div>
</main>
