<main>
  <div class="container">
    <h1 class="medium-weight text-primary">Color Palette</h1>
    <hr class="mb-9" />

    <div *ngFor="let group of colorGroups" class="color-group mb-12">
      <div class="bg-grey-200 p-2 rounded-md">
        <h3 class="courier color-group-name bg-grey-200">{{ group.name }}</h3>
      </div>
      <div class="color-variants">
        <div *ngFor="let variant of group.variants" class="color-variant">
          <div
            class="color-swatch"
            [style.background-color]="variant.value"
            [style.color]="getContrastColor(variant.value)"
          >
            <span class="variant-value">{{ variant.value }}</span>
          </div>
          <div class="variant-name">{{ variant.name }}</div>
        </div>
      </div>
    </div>
  </div>
</main>
