<main>
	<div class="container">
		<h1 class="medium-weight text-primary">Callouts</h1>
		<hr class="mb-9" />

		<div class="mb-8">
			<h5 class="medium-weight text-primary courier mb-2">Info:</h5>
			<div class="flex flex-col gap-4">
				<lib-callout
					type="info"
					header="Transaction history"
					copy="Transaction history is available for chequing, savings, and credit card accounts."
				/>

				<lib-callout
					type="info"
					copy="Transaction history is available for chequing, savings, and credit card accounts."
				/>
			</div>
		</div>

		<div class="mb-8">
			<h5 class="medium-weight text-primary courier mb-2">Success:</h5>
			<div class="flex flex-col gap-4">
				<lib-callout
					type="success"
					header="Transaction history"
					copy="Transaction history is available for chequing, savings, and credit card accounts."
				/>

				<lib-callout
					type="success"
					copy="Transaction history is available for chequing, savings, and credit card accounts."
				/>
			</div>
		</div>

		<div class="mb-32">
			<h5 class="medium-weight text-primary courier mb-2">Warning:</h5>
			<div class="flex flex-col gap-4">
				<lib-callout
					type="warning"
					header="Transaction history"
					copy="Transaction history is available for chequing, savings, and credit card accounts."
				/>

				<lib-callout
					type="warning"
					copy="Transaction history is available for chequing, savings, and credit card accounts."
				/>
			</div>
		</div>
	</div>
</main>
