<main>
	<div class="container">
		<h1 class="medium-weight text-primary">Buttons</h1>
		<hr class="mb-8" />
		<div class="flex gap-6 mb-12">
			<lib-buttons type="primary" size="sm" copy="Book a demo" />
			<lib-buttons type="primary" size="md" copy="Book a demo" />
			<lib-buttons type="primary" size="lg" copy="Book a demo" />
			<lib-buttons
				type="primary"
				size="lg"
				copy="Book a demo"
				[disabled]="true"
			/>
		</div>

		<div class="flex gap-6 mb-12">
			<lib-buttons
				type="primary"
				size="sm"
				copy="Book a demo"
				iconPosition="left"
			/>
			<lib-buttons
				type="primary"
				size="md"
				copy="Book a demo"
				iconPosition="left"
			/>
			<lib-buttons
				type="primary"
				size="lg"
				copy="Book a demo"
				iconPosition="left"
			/>
			<lib-buttons
				type="primary"
				size="lg"
				copy="Book a demo"
				iconPosition="left"
				[disabled]="true"
			/>
		</div>

		<div class="flex gap-6 mb-12">
			<lib-buttons
				type="primary"
				size="sm"
				copy="Book a demo"
				iconPosition="right"
			/>
			<lib-buttons
				type="primary"
				size="md"
				copy="Book a demo"
				iconPosition="right"
			/>
			<lib-buttons
				type="primary"
				size="lg"
				copy="Book a demo"
				iconPosition="left"
			/>
			<lib-buttons
				type="primary"
				size="lg"
				copy="Book a demo"
				iconPosition="left"
				[disabled]="true"
			/>
		</div>
	</div>
</main>
