<main>
	<div class="container">
		<h1 class="medium-weight text-primary">Badges</h1>
		<hr class="mb-8" />
		<h5 class="courier text-primary mb-1">HTTP</h5>
		<div class="flex gap-4 mb-4">
			<lib-badges type="http" color="red" copy="GET" />
			<lib-badges type="http" color="orange" copy="GET" />
			<lib-badges type="http" color="green" copy="PUT" />
			<lib-badges type="http" color="blue" copy="DELETE" />
		</div>

		<h5 class="courier text-primary mb-1">Response</h5>
		<div class="flex gap-4 mb-4">
			<lib-badges type="response" color="red" copy="200" />
			<lib-badges type="response" color="orange" copy="200" />
			<lib-badges type="response" color="green" copy="200" />
			<lib-badges type="response" color="blue" copy="200" />
		</div>

		<h5 class="courier text-primary mb-1">General</h5>
		<div class="flex gap-4 mb-4">
			<lib-badges type="general" size="sm" copy="DOCS" />
			<lib-badges type="general" size="md" copy="API" />
			<lib-badges type="general" size="lg" copy="API" />
		</div>

		<h5 class="courier text-primary mb-1">General Outline</h5>
		<div class="flex gap-4">
			<lib-badges type="general" size="sm" copy="DOCS" [outline]="true" />
			<lib-badges type="general" size="md" copy="API" [outline]="true" />
			<lib-badges type="general" size="lg" copy="API" [outline]="true" />
		</div>
	</div>
</main>
